extends layout

block  conteudo
        h2  Autobiografia!

        
        #conteiner
            .minhaHistoria
                  p Filha de Paulo Sergio Pagani e Maria Luísa Dos Santos, ambos do interior do Paraná, se casam e vão embora para Rondônia, onde construiu uma grande família, sou a oitava filha na fila de dez filhos. Nascida e criada em Cabixi interior do estado, vivi toda minha infância e adolescência no sitio dos meus pais, acabei concluindo meu ensino médio na escola estadual José de Anchieta, ensino médio concluído tive que ir embora para uma cidade maior, em busca de novas oportunidades de estudos. Foi aí que tive a oportunidade de ingressar no curso técnico em Redes de Computadores oferecido pelo SENAI-Vilhena. Através desse curso que me interessei   pela área de tecnologia. Concluir meu curso me casei fui morar em Corumbá Mato Grosso do sul, onde iniciei minha faculdade no IFMS no curso de Analista de Sistema fiz dois semestres acabei vindo embora para Aquidauana cidade que resido atualmente, onde continuo meus estudos. Meus hobbies são pescar apesar de quase nunca pegar nada, praticar esportes, cozinhar principalmente quando estou reunida com a família. 

            