extends layout

block  conteudo
        h2  Contatos

        #face
         img(src="img/face1.png", alt="") 
         <a href="https://www.facebook.com/elisanecamila.pagani" target="_blank" >Facebook </a>
        

        #email
            img(src="img/email2.png", alt="E-mail")
        #mostar
            p elisanecamila20@gmail.com
