extends layout

block  conteudo
          
        h2 Olá seja bem vindo!
        #conteiner
           .sobreMim
                p Sou a Elisane Camila, aluna no curso de Tecnologo de Sistema para Internet, do IFMS-Aquidauana. Aqui voçe encontrará mais sobre minha tragetória, o site possui biografia, portfólio e contatos.

                #pagina1
                     h4 Conheça mais sobre Elisane!
        #img
                img(src="../img/capa.png", alt="foto de capa")
          




             
                                                          