extends layout

block  conteudo
          h2  Portifólio!

          #conteiner
               #img
                    p Paletras  sobre lixo eletronico, na Semana do Meio Ambiente do IFMS-Aquidauana.
                    img(src="../img/trabalho.png", alt="foto")

          #img2  
            p Mine curso sobre empoderamento feminino
            img(src="../img/empoderamento.png", alt="foto")  

          #img3   
           p Alguns comida feita por mim.
           img(src="../img/pao.png", alt="foto") 
           img(src="../img/bolo.png", alt="foto") 
           img(src="../img/pudim.png", alt="foto") 
         
            
           
            