@import 'fontes';
@import 'cores';
@import 'fotos';

  body{
    margin: 0;

}

#banner{
    background-color: $cor-banner;
    color: white;
    text-align: center;
    padding: 50px 0px 30px 0px ;


    h1{
        font-family: $fonte-decorativa;
        font-size: 270%;
        text-shadow: 4px 4px black;
        font-variant-ligatures: initial;
    }
}

  

#centro{
    display: flex;
    font-family: $fonte-padrao;

}

#menu span ul{
    margin: 0;
    background-color: $cor-menu;
    list-style: none;
    text-align: center;
    font-size: 20px;
     width: 100%;
     position: absolute;
}
#menu ul li{
    display: inline;
}

#menu ul li a {
    padding: 10px 10px;
    display: inline-block;
   color: #8B8989;
    text-decoration:none;

}
#menu ul li a:hover{
    color: $cor-hover
}


img{

    width:15%;
    height:20%;
   margin-left: 80px; 
    
}

#conteiner{
    .minhaHistoria{
    font-family: $fonte-padrao;
    font-size: 25px;
    margin-top: 2px;
    margin-right: 2px;
   text-align: justify; 
}

}




#conteudo{
   width: 90%;
   padding: 7px;
   

   h2{
    padding: 10px;
    font-size: 30px;
    font-family: $fonte-decorativa;
}

#conteiner{
    .sobreMim{
        p{
          font-family: $fonte-padrao;
            font-size: 20px;
        }
    }    
    
}
    h1{
        font-size: 120%;
         color: black;
    }
}
 #pagina1{
    h4{
           border:  4px solid $cor-border ;
            text-align: center;
            width:30%;
            float: right;
            padding: 20px;   
            font-size: 37px;
            font-family: $fonte-decorativa;
    }
 }

 #conteiner{
    #img{
         width: 260%;
         height: 60%;
        // float: left;
         margin: 0px;
     }

     p{
         font-size: 18px;
         font-family: $fonte-padrao;
     }

 }

  #img2{
    width: 260%;
    position: absolute;
	left:50%;
    top: 50%;


    p{
        font-size: 18px;
        font-family: $fonte-padrao;
    }
}

 #img3{

    width: 200%;
    height: 50%;
     position: relative;

     p{
         font-size: 20px;
         font-family: $fonte-padrao;
     }
 }

 #face{ 
 display: block;
  
 a:link{
     text-decoration: none;
     font-size: 35px;
     color: blue;
     text-align: center;
     margin: 10px;
 }
 
  img{
      width: 55px;
      margin:15px;

  }
}

#email{

    img{
        width:90px;
        margin:15px;
	    left: 90px;
	    top: 70px;
    }
  
}


  #rodape{
    background-color: $cor-rodape;
    color: white;
    padding: 20px;
    font-size: 100%;
    display: table;
    width: 100%;
    font-family: $fonte-decorativa;

    h3{
        text-align: center;
        width:30%;
        float: right;
    }
}
