<div id="rodape">
    <div class="copyright">
      <p>  &copy; 1994 - 2020 FIFA. Todos os direitos reservados</p>
    </div>
    

    <div class="contato">
        <h3>Contato</h3>
        <div>
            <img src="img/fone1.png" alt="Fone">
            <span>
                <a href="tel:+41 (0) 43-222 7777"> 41 (0) 43-222 7777</a>
            </span>
        </div>

        <div>
            <img src="img/email1.png" alt="E-mail">
            <span>
                <a href="mailto:fifa@email.com">fifa@gmail.com</a>
            </span>
        </div>
    </div>
    <div class="poweredBy">
        <h3> Associação da Federação Internacional de Futebol </h3>
        <h4>FIFA.com.br</h4>
    </div>
    
</div>